{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chatzila</title>
        <link href={% static "css/bootstrap.min.css" %} rel="stylesheet">
        <script src={% static "js/jquery-1.11.2.min.js" %}></script>
        <script src={% static "js/bootstrap.min.js" %}></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src={% static "js/manager.js" %}></script>
        {% block head %}{% endblock %}
    </head>

    <body ng-app="placeModule">
        <div ng-controller="placeController" style="width: 1200px; margin: auto">
            {% if request and not request.user.is_anonymous %}
            Welcome: <b>{{ request.user }}</b>
            {% endif %}

            {% if request and not request.user.is_anonymous %}
            <a class="btn btn-primary" href="/logout/">Logout</a>
            {% else %}
            <a class="btn btn-primary" href="/login/">Login</a>
            {% endif %}
            {% block body %}{% endblock %}

            {% for user in users %}
                {{ user }} <br>
            {% endfor %}


        </div><!-- end of div placeController -->
    </body>
    {% block footer %}{% endblock %}
</html>
